extends layout

block content
  script.
    ShopifyApp.ready(function(){
        ShopifyApp.Bar.loadingOff();
        ShopifyApp.Bar.initialize({
          title: '#{title}',
        });
    });
    //- $(document).ready(function() {
    //-   $('.btn-primary').on('click', function() {
    //-     var pId = $(this).data('id');
    //-     $.ajax('')
    //-   });
    //- });
  a(style="margin-bottom:20px;margin-right:100px;margin-top:20px;margin-left:20px;" class="btn-primary btn", href="/preorderd_products")='Vezi produsele preordered'
  a(style="margin-bottom:20px;margin-top:20px;" class="btn btn-secondary", href="/render_app")='Vezi produsele rezervate'

  table.table.table-sm.table-bordered
    thead.thead-inverse
      tr
        th='Idx'
        th='Titlu'
        th='Variant'
        th='QTY'
        th='Client'
        if (type=='preorder')
          th='Adresa livrare'
        else
          th='Magazin'
        th='Mentiuni'
        th='Marcheaza'
    -var index = 1
    each product in products
      tbody
        tr
          td=index++
          td
            a(href="#{product.link}")
              span=product.name
              img(src="#{product.image}", style="max-width:75px")
          td=product.variant
          td=product.quantity
          td
            div
              strong='Nume: '
              span=product.customerFirstName
            div
              strong='Prenume: '
              span=product.customerLastName
            div
              strong='Email: '
              span=product.customerEmail
            div
              strong='Telefon: '
              span=product.customerPhone
          if (type=='preorder')
            td=product.address
          else
            td=product.store
          td=product.comments
          td
            if (type=='preorder')
              a(class="btn btn-danger", data-id="#{product.id}", href="/delete-product/#{product.id}")='Ridicat'
            else
              a(class="btn btn-info", data-id="#{product.id}", data-template='Test Template' href="/send-pickup-mail/#{product.id}")='Trimite mail de ridicare'
              br
              br
              a(class="btn btn-primary", data-id="#{product.id}", href="/delete-product/#{product.id}")='Ridicat'

