extends layout

block content
  script.
    ShopifyApp.ready(function(){
        ShopifyApp.Bar.loadingOff();
        ShopifyApp.Bar.initialize({
            title: '#{title}',
          pagination: {
            next: {
                href: "/render_app?page=#{page+1}"
            },
            previous: {
                href: "/render_app?page=#{page-1}",
            }
          }
        });
    });
    
  each p in products
    div=p.tags
    div=p.variants.option1
  //- h3 Reserved products list
  //- table(class="table table-bordered table-condensed")
  //-   tr
  //-     th Id
  //-     th Action      
  //-   each collection in collections
  //-     tr
  //-       td=collection.product_id
  //-       td 
  //-         a(href="/view-product/#{collection.product_id}", class="btn btn-primary") Edit product