extends layout

block content
  script.
    ShopifyApp.ready(function(){
        ShopifyApp.Bar.loadingOff();
        ShopifyApp.Bar.initialize({
          title: '#{title}',
        });
    });
    //- $(document).ready(function() {
    //-   $('.btn-primary').on('click', function() {
    //-     var pId = $(this).data('id');
    //-     $.ajax('')
    //-   });
    //- });
  if type='book-in-store'
    a(style="margin-bottom:20px;" class="btn-primary btn", href="/preorderd_products")='Produse Rezervate'
  else
    a(style="margin-bottom:20px;" class="btn btn-primary", href="/render_app")='Produse Precomandate'

  table.table.table-sm.table-bordered
    thead.thead-inverse
      tr
        th='Idx'
        th='Titlu'
        th='Variant'
        th='QTY'
        th='Client'
        th='Magazin'
        th='Mentiuni'
        th='Marcheaza'
    -var index = 1
    each product in products
      tbody
        tr
          td=index++
          td
            a(href="#{product.link}")
              span=product.name
              img(src="#{product.image}", style="max-width:75px")
          td=product.variant
          td=product.quantity
          td
            div
              strong='Nume: '
              span=product.customerFirstName
            div
              strong='Prenume: '
              span=product.customerLastName
            div
              strong='Email: '
              span=product.customerEmail
            div
              strong='Telefon: '
              span=product.customerPhone
          td=product.store
          td=product.comments
          td
            a(class="btn btn-primary", data-id="#{product.id}", href="/delete-product/#{product.id}")='Ridicat'

